

.orange{
    height: 250px;
    background-color: orange;
}

.white{
    height: 250px;
    
}

.green{
    height: 250px;
    background-color: green;
}

.wheel{
    background-image: url(../Assets/wheel.png);
    height: 200px;
    background-repeat: no-repeat;
    position: fixed;
    top: 260px;
    left: 600px;
}